<div class="form-row">
  <label>
    <span>Account Holder Name</span>
    <input type="text" size="20" class='account-holder-name' data-stripe="account_holder_name">
  </label>
</div>
<div class="form-row">
  <label>
    <span>Account Number</span>
    <input type="text" size="20" class='account-number' data-stripe="account_number">
  </label>
</div>
<div class="form-row">
  <label>
    <span>Routing Number</span>
    <input type="text" size="16" class='routing-number' data-stripe="routing_number">
  </label>
</div>
<input type='hidden' value='individual' class='account-holder-type' data-stripe='account_holder_type'' />